/* View Transitions */

/* Define animation properties for all transitions */
::view-transition-group(*) {
  animation-duration: 600ms;
  animation-timing-function: linear;
}

/* Apply the custom transition to the old and new page states */

::view-transition-old(root) {
  animation-name: slide-left;
}

::view-transition-new(root) {
  animation-name: slide-right;
  animation-direction: reverse;
}

/* Reverse animation when going back to home page */

:root[data-transition='back'] {
  &::view-transition-old(root) {
    animation-name: slide-right;
  }

  &::view-transition-new(root) {
    animation-name: slide-left;
  }
}

/* Custom transition for heading */

.heading {
  view-transition-name: heading;
}

::view-transition-old(heading) {
  animation-name: slide-up;
}

::view-transition-new(heading) {
  animation-name: slide-up;
  animation-direction: reverse;
}

/* Animations */

@keyframes slide-up {
  to {
    translate: 0 -15vh;
  }
}

@keyframes slide-left {
  to {
    translate: -100vw;
  }
}

@keyframes slide-right {
  to {
    translate: 100vw;
  }
}

/* Page */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #14151f;
  color: #ebebeb;
}

main {
  padding-block: 2rem;
  width: min(100% - 2rem, 70ch);
  margin-inline: auto;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
}

a {
  display: inline-block;
  color: #f13775;
}

main > * + * {
  margin-top: 2rem;
}

section {
  padding-bottom: 3rem;
  border-bottom: 1px solid #ebebeb;
}

section:last-child {
  border-bottom: none;
}

section > * + * {
  margin-top: 1rem;
}

p {
  text-align: justify;
  text-wrap: balance;
}
