* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #14151f;
  color: #ebebeb;
}

main {
  padding: 2rem;
  width: min(100% - 2rem, 70ch);
  margin-inline: auto;
}

h1 {
  text-align: center;
}

a {
  display: inline-block;
  color: #f13775;
}

main > * + * {
  margin-top: 2rem;
}

section > * + * {
  margin-top: 1rem;
}

p {
  text-align: justify;
  text-wrap: balance;
}

/* Turn cross-document view-transitions on */
/* Note that this at-rule is all that is needed to create the default cross-fade animation  */

@view-transition {
  navigation: auto;
}

/* Create a custom animation */

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Apply the custom animation to the old and new page states */

::view-transition-old(root) {
  animation: 500ms ease-in-out both move-out;
}

::view-transition-new(root) {
  animation: 500ms ease-in-out both move-in;
}
